@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        Hello this is med jaiti , i want to become a asp core
        developer , let's go to make future togheter
    </h2>
</div>
